html {
    background-color: coral;
    color: antiquewhite;
    font-size: 2rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}

.item-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#search-button {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    border: none;
    background-color: aqua;
}
